.todo-list {
  background-color: rgba(255, 188, 73, 0.13);
  width: 50%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
}
.filter-select {
  width: 200px;
  background: silver;
  border: none;
}
.list-head {
  display: flex;
}
.list-head h1 {
  flex: 1;
}
.filter-cbo{
  flex: 0 200px;
}