.todo-item {
  margin: 5px auto;
  padding: 10px;
  background: rgb(245, 90, 0, 0.3);
  border-radius: 10px;
  display: flex;
}
.todo-item p {
  font-weight: 600;
  color: rgb(0, 0, 0);
  padding: 5px;
  flex: 1;
}
.delete-todo-btn {
  background-color: orangered;
  border: none;
  padding: 5px;
  font-size: 15px;
  transition: background 0.2s cubic-bezier(0.65, 0, 0.35, 1);
}
.delete-todo-btn:hover {
  background-color: rgb(255, 136, 0);
}
.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}