.todo-list {
  background-color: rgba(255, 188, 73, 0.13);
  width: 50%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
}
.filter-select {
  width: 200px;
  background: silver;
  border: none;
}
